.vertical_container {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #eeeeee;
}
.box {
  margin: 0 auto;
  max-width: 40em;
  min-width: 20em;
  width: 40%;
  text-align: center;
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 100px white inset;
  }
}
.head {
  text-align: center;
  font-size: 1.8em;
  padding-top: 2em;
  padding-bottom: 0.5em;
}
.form {
  padding: 1.5em 0.8em;
}
